/*https://en.wikipedia.org/wiki/Wikipedia:Zenburn*/

:root {
	--chalk-yellow: #FFD700;
	--chalk-lightblue: #96CCFF;
	--chalk-lightgreen: #9EEBCF;
	--chalk-salmon: #cc9393;
	--chalk-muted-white: #DDD;

	--zen-bg: #3f3f3f; /*background*/
	--zen-default: #DCDCCC; /*default text*/
	--zen-bright-yellow: #EFEF8F; /*function*/
	--zen-pale-yellow: #F0DFAF; /*conditional, keyword*/
	--zen-muted-green: #7F9F7F; /*comment*/
	--zen-cyan: #8CD0D3; /*number*/
	--zen-salmon: #DCA3A3; /*boolean, character*/
}

.primary-color.pastel-chalk-text { color: var(--chalk-yellow) }
.primary-color.zen-text {	color: var(--zen-bright-yellow) }

.secondary-color.pastel-chalk-text { color: var(--chalk-lightblue) }
.secondary-color.zen-text {	color: var(--zen-cyan) }

.tertiary-color.pastel-chalk-text { color: var(--chalk-lightgreen) }
.tertiary-color.zen-text { color: var(--zen-muted-green) }

.quaternary-color.pastel-chalk-text {	color: var(--chalk-salmon) }
.quaternary-color.zen-text { color: var(--zen-salmon) }

.anki-card-entire {
	text-align: center;
	margin: 1em;
	font-size: 1.5em;
}

.anki-card-image {
	position: relative;
}

.sign-language-image {
	height: 8em;
}

.linja-pona {
	height: 4em;
}

.card-image {
	height: 4em;
}

.example-image {
	height: 6em;
}

.big {
	font-size: 2em;
}

.small {
	font-size: 0.75em;
}

/*todo: change this so it only activates for zen-light (and zen-dark?) theme(s)*/
.transparency-enabled .low {
	opacity: 0.5;
}

.high {
	font-weight: 600
}

.card-element {
	position: relative;
}

.card-element-line {
	position: relative;
}

/*MARGINS & PADDING BEGIN*/
.anki-card-audio, .card-element, .card-element-line, .anki-card-image, .card-element-span {
	padding: 2px;
	margin: 2px;
}
/*MARGINS & PADDING END*/

.danger {
	color: red;
}

.component-label {
	font-size: 10px;
	position: absolute;
	padding: 2.5px;
	left: 5px;
	top: 5px;
	background-color: lightgray;
}

.outline {
	background-color: transparent;
}

.outline.pastel-chalk-text {
	border: 1px solid var(--chalk-muted-white);
}


.component-label.outline.primary-color {
	border: 1px solid var(--chalk-yellow);
	color: var(--chalk-yellow);
}

.component-label.outline.secondary-color {
	border: 1px solid var(--chalk-lightblue);
	color: var(--chalk-lightblue);
}

.component-label.outline.tertiary-color {
	border: 1px solid var(--chalk-lightgreen);
	color: var(--chalk-lightgreen);
}

.component-label.outline.quaternary-color {
	border: 1px solid var(--chalk-salmon);
	color: var(--chalk-salmon);
}

.play-button {
	font-size: 50px;
}

.full-height-bg img {
	z-index: -1;

	/*https://css-tricks.com/perfect-full-page-background-image/*/
	/* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/*blackboard theme colors*/
/*
.component-label { }
.play-button { }
.field-term { color: var(--chalk-yellow) }
.field-examples { color: var(--chalk-lightblue) }
.field-transliteration { }
.text-prompt { color: var(--chalk-lightgreen) }
.tags { color: var(--chalk-lightgreen) }
.special-field-category { color: var(--chalk-lightgreen) }
*/

/*testing*/
.field-examples { /*background-color: var(--chalk-salmon)*/ }

/*uncomment below for wire-frames*/
/*WIREFRAMES START*/

.anki-card-audio { border: 1px solid red }
.card-element { border: 1px solid blue }
.card-element-line { border: 1px solid purple }
.anki-card-image { border: 1px solid green }
.card-element-span { border: 1px solid orange }

/*WIREFRAMES END*/

html {
	/*color: white;*/ /*todo: turn off for deployment (TESTING ONLY)*/
}

.default-text.pastel-chalk-text {
	color: var(--chalk-muted-white);
}
