/*https://en.wikipedia.org/wiki/Wikipedia:Zenburn*/

:root {
	--blackboard-bg-fallback: #333; /*todo: adjust this to be blurred avg of blackboard img*/
	--chalk-yellow: #FFD700;
	--chalk-lightblue: #96CCFF;
	--chalk-lightgreen: #9EEBCF;
	--chalk-salmon: #cc9393;
	--chalk-muted-white: #DDD;

	--zenburn-bg: #3f3f3f; /*background*/
	--zenburn-bg2: #242424; /*PMenu select???*/
	--zenburn-default: #DCDCCC; /*default text*/
	--zenburn-bright-yellow: #EFEF8F; /*function*/
	--zenburn-pale-yellow: #F0DFAF; /*conditional, keyword*/
	--zenburn-muted-green: #7F9F7F; /*comment*/
	--zenburn-cyan: #8CD0D3; /*number*/
	--zenburn-salmon: #DCA3A3; /*boolean, character*/

	/*https://www.designpieces.com/palette/game-boy-original-color-palette-hex-and-rgb/*/
	--gameboy-darkest:#0f380f; /*Darkest Green*/
	--gameboy-dark: #306230; /*Dark Green*/
	--gameboy-light: #8bac0f; /*Light Green*/
	--gameboy-lightest: #9bbc0f; /*Lightest Green*/

	/*https://www.schemecolor.com/matrix-code-green.php*/
	--matrix-vampire-black: #0D0208;
	--matrix-dark-green: #003B00;
	--matrix-islamic-green: #008F11;
	--matrix-malachite: #00FF41;
	--matrix-bg: var(--matrix-vampire-black);
	--matrix-text: var(--matrix-islamic-green); /*todo: double-check how this looks & see online ref*/
}

html {
	/*color: white;*/ /*todo: turn off for deployment (TESTING ONLY)*/
	font-size: 2em; /*desktop testing recommended is 2.5em*/
}

.primary-color.chalk-text { color: var(--chalk-yellow) }
.primary-color.zenburn-text {	color: var(--zenburn-bright-yellow) }

.secondary-color.chalk-text { color: var(--chalk-lightblue) }
.secondary-color.zenburn-text {	color: var(--zenburn-cyan) }

.tertiary-color.chalk-text { color: var(--chalk-lightgreen) }
.tertiary-color.zenburn-text { color: var(--zenburn-muted-green) }

.quaternary-color.chalk-text {	color: var(--chalk-salmon) }
.quaternary-color.zenburn-text { color: var(--zenburn-salmon) }

.anki-card-entire {
	text-align: center;
	padding: 1em;
}

.anki-card-image { position: relative }
.sign-language-image { height: 8em }
.linja-pona { height: 4em }
.field-image { height: 4em }
.example-image { height: 6em }

div.big div span { font-size: 2em }
div.small div span { font-size: 0.75em }
div.low div span.transparency-enabled { opacity: 0.5 }
div.high div span { font-weight: 600 }

.card-element { position: relative }
.card-element-line { position: relative }

/*MARGINS & PADDING BEGIN*/
.anki-card-audio, .card-element, .card-element-line, .anki-card-image, .card-element-span {
	padding: 2px;
	margin: 2px;
}
/*MARGINS & PADDING END*/

.danger { color: red }

.component-label {
	font-size: 0.5rem;
	position: absolute;
	padding: 2.5px;
	left: 5px;
	top: 5px;
	background-color: lightgray;
}

.outline { background-color: transparent }

.zenburn-bg2 {
	background-color: var(--zenburn-bg2);
	padding-left: 5px;
	padding-right: 5px;
}

.outline.chalk-text { border: 1px solid var(--chalk-muted-white) }

.outline.primary-color.chalk-text  { border: 1px solid var(--chalk-yellow) }
.outline.primary-color.zenburn-text  { border: 1px solid var(--zenburn-bright-yellow) }
.outline.secondary-color.chalk-text  { border: 1px solid var(--chalk-lightblue) }
.outline.secondary-color.zenburn-text  { border: 1px solid var(--zenburn-cyan) }
.outline.tertiary-color.chalk-text  { border: 1px solid var(--chalk-lightgreen) }
.outline.tertiary-color.zenburn-text  { border: 1px solid var(--zenburn-muted-green) }
.outline.quaternary-color.chalk-text  { border: 1px solid var(--chalk-salmon) }
.outline.quaternary-color.zenburn-text  { border: 1px solid var(--zenburn-salmon) }

.play-button {
	display: inline-block;
	position: relative;
	font-size: 3em;
	line-height: 0.8em;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.vert-cent {
	vertical-align:middle;
}

.full-height-bg.full-noscroll img {
	z-index: -1;

	/*https://css-tricks.com/perfect-full-page-background-image/*/
	/* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

	.full-height-bg.full-scroll img {
		z-index: -1;

		/*https://css-tricks.com/perfect-full-page-background-image/*/
		/* Set rules to fill background */
	  min-height: 100%;
	  min-width: 1024px;

	  /* Set up proportionate scaling */
	  width: 100%;
	  height: auto;

	  /* Set up positioning */
	  position: absolute;
	  top: 0;
	  left: 0;
	}

/*uncomment below for wire-frames*/
/*WIREFRAMES START*/
/*
.anki-card-audio { border: 1px solid red }
.card-element { border: 1px solid blue }
.card-element-line { border: 1px solid purple }
.anki-card-image { border: 1px solid green }
.card-element-span { border: 1px solid orange }
*/
/*WIREFRAMES END*/

.default-text.chalk-text { color: var(--chalk-muted-white) }
.default-text.zenburn-text { color: var(--zenburn-default) }

.zenburn-bg { background-color: var(--zenburn-bg) }
.blackboard-bg { background-color: var(--blackboard-bg-fallback) }
